/* Global CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.html {
    scroll-behavior: smooth;
}

/* Header Section */
.top-bar-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10px;
    background: #fff;
}

.top-bar-1 .title img {
    width: 420px;
}

.top-bar-1 .top-bar-1-menu ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.top-bar-1 .top-bar-1-menu ul li {
    padding: 0 8px;
}

.top-bar-1 .top-bar-1-menu ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #004EA2;
}

.top-bar-1 .top-bar-1-menu ul li a .fa-magnifying-glass {
    border: 1px solid #007BFF;
    padding: 4px;
}

.top-bar-2 {
    background: #004EA2;
}

.top-bar-2 ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.top-bar-2 ul li {
    padding: 0 30px;
}

.top-bar-2 ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}

.top-bar-2 ul li a img {
    width: 65px;
}

.small-top,
.mobile-menu {
    display: none;
}

.body-top {
    background: #f0f0f0;
    padding: 5px 20px;
}

.body-top ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.body-top ul li {
    padding: 0 80px;
}

.body-top ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #0074FA;
}

.swiper-slide img {
    width: 100%;
    height: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 14px;
    color: #fff;
    position: relative;
}

.swiper-slide .title-text {
    position: absolute;
    width: 100%;
    top: 85%;
    cursor: pointer;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    color: #fff;
}

.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
    font-size: 25px;
}

.swiper .swiper-pagination-bullet-active {
    background: #fff;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 40px !important;
}

.upper-content {
    position: absolute;
    z-index: 1;
    right: 10%;
    top: 10%;
    color: #fff;
}

.upper-content h1 {
    font-size: 60px;
    letter-spacing: 6px;
    padding-bottom: 15px;
}

.upper-content a {
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 0 3px;
    background: rgba(6, 6, 6, 0.2);
    transition: color 0.5s, background 0.5s;
}

.upper-content a:hover {
    color: #000;
    background: #fff;
}

/* Container Section */
#container {
    width: 100%;
    background: url(assets/cubes.png);
    padding: 15px 8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

#container .left,
#container .right {
    flex-basis: 49%;
}

.head-title h2 {
    font-size: 18px;
    color: #2196F3;
}

.head-title .line {
    width: 50px;
    height: 3px;
    background: #2196F3;
    margin: 6px 0;
}

.notice-headings a {
    display: block;
    text-decoration: none;
    background: #fff;
    padding: 6px;
    margin: 5px 0;
    border-radius: 4px;
    color: #0072BC;
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 10px 20px 3px #00968814;
}

.notice-headings a:hover {
    box-shadow: 0 5px 20px 3px #2e2d2d4f;
}

.notice-headings a span {
    display: inline-block;
    background: #007BFF;
    width: 40px;
    text-align: center;
    padding: 3px;
    margin-right: 8px;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: 0 10px 20px 3px #00968814;
}

.notices .archive,
#news-events .archive,
#partners .see-all {
    display: block;
    text-align: end;
    text-decoration: none;
    font-size: 15px;
    color: #0072BC;
    margin-right: 10px;
}

.social-media iframe {
    width: 100%;
    height: 250px;
}

.social-media .social-icons {
    padding: 15px 0;
    text-align: end;
}

.social-media .social-icons a {
    text-decoration: none;
    font-size: 20px;
    color: #0074FA;
    background: #fff;
    border-radius: 50%;
    padding: 8px;
    margin: 0 2px;
}

.social-media .social-icons a:hover {
    color: red;
    box-shadow: 0 10px 20px 3px #00968814;
}

.courses .swiper .swiper-wrapper {
    width: 300px;
    height: fit-content;
}

/* News & events section */
#news-events {
    background: url(assets/bg_patternSquiresOp.png);
    padding: 20px 8%;
}

#news-events .contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#news-events .contents .content {
    flex-basis: 24%;
    background: #fff;
    padding: 5px;
    margin: 10px 0;
    box-shadow: 0 10px 20px 3px #00968814;
    height: 220px;
    transition: box-shadow 0.5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#news-events .contents .content a {
    text-decoration: none;
}

#news-events .contents .content .date {
    position: absolute;
    top: 5px;
    right: 5px;
    background: #2196F3;
    padding: 5px;
    width: 40px;
    text-align: center;
    color: #fff;
}

#news-events .contents .content:hover {
    box-shadow: 0 5px 20px 3px #2e2d2d4f;
}

#news-events .contents .content img {
    width: 100%;
    height: 150px;
    transition: transform 0.5s ease;
    transform-origin: 50% 50%;
}

#news-events .contents .content img:hover {
    transform: scale(1.1);
    width: 100%;
}

#news-events .contents .content h3 {
    font-size: 14px;
    color: #0072BC;
    padding: 10px 0;
}

/* Facts and Figures */
#facts-figures {
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(assets/cover-facts-figure.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #004EA2;
    padding: 20px 8% 30px;
}

#facts-figures .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#facts-figures .row .fact h2 {
    font-size: 80px;
    padding: 10px 0;
}

#facts-figures .row .fact p {
    font-size: 16px;
    font-weight: 600;
}

/* Faculties section */
#faculties {
    padding: 20px 8%;
}

.faculties-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.faculties-content .faculty {
    flex-basis: 23%;
    width: 100%;
    height: 230px;
    z-index: 2;
    position: relative;
    overflow: hidden;
    box-shadow: 0 3px 5px 3px #8d9e9c77;
}

.faculties-content .social-science {
    background: url(assets/faculties/arts.jpg);
    background-size: cover;
}

.faculties-content .social-science:hover {
    box-shadow: 0 3px 5px 3px #96000094;
}

.faculties-content .business {
    background: url(assets/faculties/business.jpg);
    background-size: cover;
}

.faculties-content .business:hover {
    box-shadow: 0 3px 5px 3px #05960094;
}

.faculties-content .engineering {
    background: url(assets/faculties/engineering.jpg);
    background-size: cover;
}

.faculties-content .engineering:hover {
    box-shadow: 0 3px 5px 3px #96960094;
}

.faculties-content .science {
    background: url(assets/faculties/computer.jpg);
    background-size: cover;
}

.faculties-content .engineering:hover {
    box-shadow: 0 3px 5px 3px #004b9694;
}

.faculties-content div a {
    text-decoration: none;
}

.faculties-content h3 {
    font-size: 14px;
    padding: 12px 6px;
    color: #fff;
    z-index: 1;
}

.social-science h3 {
    background: #c5281c;
}

.business h3 {
    background: #008c44;
}

.engineering h3 {
    background: #f7941c;
}

.science h3 {
    background: #0072bc;
}

.faculties-content .faculty .top-content {
    background: #3c87d6;
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    transition: left 1s ease;
}

.faculties-content div img {
    width: 100px;
    padding: 40px 10px 0;
}

.faculties-content .faculty:hover .top-content {
    left: -300px;
}

/* Partners section */
#partners {
    padding: 30px 8% 40px;
}

#partners .swiper-slide {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

#partners .swiper-slide img {
    width: 100px;
}

#partners .swiper .swiper-button-prev::after,
#partners .swiper .swiper-button-next::after {
    font-weight: 900;
    color: #000;
}

/* Footer section */
.footer-top {
    background: #181818;
    padding: 30px 8%;
    color: #ababab;
}

.footer-contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-contents .col {
    flex-basis: 24%;
    width: 100%;
    padding: 10px;
}

.footer-contents .col img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 0 10px 5px;
}

.footer-contents .col h6 {
    font-size: 14px;
}

.footer-contents .col p {
    font-size: 14px;
    padding: 5px 0;
}

.footer-contents .col .head-title h2 {
    color: #fff;
    font-weight: 400;
}

.footer-contents .col ul li {
    list-style: none;
    padding: 3px 0;
}

.footer-contents .col ul li a {
    text-decoration: none;
    color: #ababab;
    font-size: 14px;
}

.footer-contents .col ul li a:hover {
    text-decoration: underline;
    color: #fff;
}

.footer-bottom {
    background: #101010;
    padding: 20px 8% 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #ababab;
}

.footer-bottom .left p {
    font-size: 12px;
}

.footer-bottom .left p a {
    color: #fff;
    text-decoration: none;
    padding: 0 5px;
}

.footer-bottom .left p a:hover {
    color: #004EA2;
    text-decoration: underline;
}

.footer-bottom .right .social-icons a {
    font-size: 18px;
    padding: 0 3px;
    color: #fff;
}

.footer-bottom .right .social-icons a:hover {
    color: #004EA2;
}

/* CSS for small screen */
@media only screen and (max-width: 750px) {

    /* Header section */
    #header .top,
    .swiper-slide .title-text,
    .upper-content {
        display: none;
    }

    #header .small-top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 10px 2%;
    }

    .small-top .left {
        display: flex;
    }

    .small-top .left img {
        width: 100px;
        padding-right: 10px;
    }

    .small-top .left h1 {
        font-size: 14px;
        font-weight: 900;
        color: #004EA2;
    }

    .small-top .right i {
        font-size: 30px;
        color: #808080;
        border: 0.2px solid #ababab;
        border-radius: 4px;
        padding: 4px 12px;
        cursor: pointer;
    }

    .body-top {
        background: #004EA2;
        padding: 10px 20px;
    }

    .body-top ul li {
        padding: 0 6px;
    }

    .body-top ul li a {
        color: #fff;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 10px !important;
    }

    .mobile-menu {
        background: #007bff;
        padding: 5px 0;
        display: none;
    }

    .mobile-menu .small-menu-top ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .mobile-menu .small-menu-top {
        padding: 5px 0 10px;
        border-bottom: 0.2px solid #ababab;
    }

    .mobile-menu .small-menu-top ul li {
        padding: 0 35px;
    }

    .mobile-menu .small-menu-top ul li a {
        text-decoration: none;
        font-size: 16px;
        color: #fff;
    }

    .mobile-menu .small-menu-bottom ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mobile-menu .small-menu-bottom ul li {
        padding: 10px 16px;
    }

    .mobile-menu .small-menu-bottom ul li a {
        text-decoration: none;
        font-size: 16px;
        color: #fff;
    }

    .mobile-menu .small-menu-bottom ul li a i {
        font-size: 12px;
        padding-left: 4px;
    }

    #container,
    #news-events,
    #facts-figures,
    #faculties,
    #partners,
    .footer-top {
        padding: 20px 4%;
    }

    #container .left,
    #container .right {
        flex-basis: 100%;
    }

    #news-events .contents .content {
        flex-basis: 100%;
    }

    #facts-figures .row {
        flex-direction: column;
    }

    .faculties-content .faculty {
        flex-basis: 100%;
        height: 280px;
        margin-bottom: 20px;
    }

    #partners .swiper-slide img {
        width: 60px;
    }

    .footer-contents .col {
        flex-basis: 100%;
    }

    .footer-contents .col ul li a {
        font-size: 16px;
    }

    .footer-bottom .left p {
        font-size: 10px;
    }

    .footer-bottom .left,
    .footer-bottom .right {
        flex-basis: 100%;
    }

    .footer-bottom .right {
        text-align: right;
    }
}
